/* for tablets */
@media screen and (max-width: 800px){
    .navbar_main{
        flex-direction: column;
        align-items: center;     
    }
    .navbar_main>div:nth-child(2){
        margin-top: 20px;
    }
    
}

/* for mobiles  */
@media screen and (max-width: 500px){

  .navbar_main>div:nth-child(2){
    display: none;
}
.nav_ham_bergur{
    display: block;
    align-items: center;
  }
.navbar_main{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: green;
    /* padding-bottom: 20px; */
  
}


}
